@media (min-width: 768px) {
  #menu-toggle {
    display: none;
  }
  #menu {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-self: stretch !important;
    max-width: none !important;
    gap: 1.5rem;
    position: static;
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem 1rem;
  }
}

main h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

html:has(.pswp--open) {
  overflow: hidden;
}

.pswp__button--zoom {
  display: none !important;
}

.pswp--caption-hidden .pswp__dynamic-caption {
  display: none !important;
}

.pswp__dynamic-caption p {
  padding-top: 0.9rem !important;
  margin: 0 !important;
}